.room {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    padding: 10px 10px 20px;
}

.roomSidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roomCodeEditor {
    flex: 1;
}

.roomSidebarCopyBtn {
    font-weight: bold;
    padding: 8px 15px;
    background-color: #ffdd00;
    border: none;
    outline: none;
    border-radius: 5px;

}

.roomSidebarBtn {
    font-weight: bold;
    padding: 10px 15px;
    background-color: white;
    border: 2px solid rgb(237, 234, 234);
    outline: none;
    border-radius: 5px;
}

.roomSidebarUsersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.roomSidebarUsers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.roomSidebarUsersEach {
    display: grid;
    justify-items: center;
}

.roomSidebarUsersEachAvatar {
    color: white;
    border-radius: 5px;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    font-size: small;

    display: grid;
    place-items: center;
}

.roomSidebarUsersEachName {
    font-weight: bold;
    font-size: small;
}

@media screen and (min-width: 991px) {
    .room {
        flex-direction: row;
    }

    .roomSidebar {
        flex: 0.25;
    }

    .roomSidebar > *:nth-child(2) {
        margin-top: auto;
    }

    .roomCodeEditor {
        flex: 0.75;
    }
}